<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redlockfs" type="RedLockFS.RedLockConfiguration, RedLockFS"/>
  </configSections>
  <redlockfs>
    <redisInstances>
      <add name="instance1" value="localhost:6789"></add>
      <add name="instance2" value="localhost:5678"></add>
      <add name="instance3" value="localhost:4567"></add>
    </redisInstances>
  </redlockfs>
</configuration>
